.container{
    display: flex;
    padding: 1rem;
    
    font-weight: bold;
    color: white;
    background: linear-gradient( 135deg, #026f7b 10%, #2a56a3 100% );
}

.container > *{
    margin: 0;
}