.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgb(3, 0, 56) 10%, rgb(8, 5, 58) 100%);
  min-height: 100vh;
  /* background: rgb(3, 0, 56); */
  /* background: url("/images/loginbgimg.jpg"); */
}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}