.page {
    height: 100vh;
}

.nav {
    padding: .5rem;
    display: flex;
    background: linear-gradient(135deg, #026f7b 10%, #2a56a3 100%);
    color: white;
}

.children {
    background: linear-gradient(135deg, #026f7b33 10%, #2a56a31e 100%);
    height: calc(100% - 3rem);
}