
.container{
    max-height: 25rem;
    margin: auto;
    text-align: center;
    border: 1px solid #ffffff36;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.315) ;
    background-color: #fff ;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 20rem minmax(20rem, 1fr);
    overflow: hidden;
}
.left{
    background-image: url("/images/loginbg.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.heading{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem 0;
}
.btnLogin{
    margin-top: 2rem;
    width: 100%;
}

@media screen and (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        /* max-height: 100%; */
        border: none;
        box-shadow: none;
        border-radius: 0;

    }
    .left{
        display: none;
    }
    .right{
        padding: 1rem;
    }
}
    
